header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44428C;
    color: aliceblue;
}

nav {
    display: flex;
    justify-content: end;
    padding: 1rem;
}

main {
    min-height: 65vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #0D0D0D;
    color: aliceblue;
}

#container-products {
    display: flex;
    justify-content: space-evenly;
    
}